# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

In [ ]:
"""
your solution here
It is False:
ùëÉ(ùê¥‚à™ùêµ)=0.6
ùëÉ(ùê¥‚à©(ùêµ‚à™ùêµùê∂))=0.4
ùëÉ(ùê¥ùê∂‚à©ùêµùê∂)=0.3
"""

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

In [8]:
"""
your solution here

10/30
"""
print(10/30)
(8/30)*(10/29)
(12/28)*(12/29)*(8/30)
(12/30)*(12/30)*(8/30)

0.3333333333333333

0.04266666666666667

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* 50% of all rainy days start off cloudy!
* Cloudy mornings are common. About 40% of days start cloudy. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the chance of rain during the day?

In [3]:
"""
your solution here
"""
.5*.4*.1

0.020000000000000004

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [ ]:
# your code here

In [70]:
"""
your solution here
"""
import pandas as pd
import numpy as np

In [73]:
#light = pd.DataFrame({'ind':['yes','no'],'XX': [324,156], 'XY': })#'

In [74]:
#light['unisex']= light[["XX", "XY"]].sum() 
TL=light.T
#df['f']=df.iloc[:,0:2].sum(axis=1)
TL

     M    F
0  324  351
1  156  169

In [ ]:
TL[]

In [105]:
M=[324,156]
F=[351,169]
gender=['M','F']
light=pd.DataFrame([M,F],gender,columns=['No','Yes'])
light

    No  Yes
M  324  156
F  351  169

In [106]:
light['Participation']= light.sum(axis=1) 
light

    No  Yes  Participation
M  324  156            480
F  351  169            520

In [107]:
Tlight=light.T
Tlight

                 M    F
No             324  351
Yes            156  169
Participation  480  520

In [108]:
Tlight['Unisex']= Tlight.sum(axis=1)

In [109]:
Tlight

                 M    F  Unisex
No             324  351     675
Yes            156  169     325
Participation  480  520    1000

In [111]:
light=Tlight.T

In [115]:
round(light/1000,2)

          No   Yes  Participation
M       0.32  0.16           0.48
F       0.35  0.17           0.52
Unisex  0.68  0.32           1.00

In [ ]:
#Are not independent because is not the same be male than female